body{
    display: flex;
    /* background-color: blue; */
    background-color: rgba(209, 209, 209, 0.705);
    
}
.notes{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: bold;
    margin: 20px 20px;
    padding: 20PX;
}
form{
    margin-top: 20px;
    padding: 20px;
    background-color: rgb(204, 204, 204);
    margin: 2rem;
    border-radius: 10PX;
    box-shadow: 8px 8px 12px 10px rgba(0, 0, 0, 0.5);

}
legend{
    font-size: 20px;
}
fieldset{
    border-style: none;
    margin: 20px ;
    padding: 20px;
}

form .colum  {
    display: flex;
}
.colum div{
    margin: 10PX 25px 10px 20px;
}
.colum input{
    padding: 5px;
    border: 2px solid #E5E7EB;
    border-radius: 7PX;
}
.background{
    background-image: url(/halie-west-25xggax4bSA-unsplash.jpg);
}

#images{
    position: relative;
    width: 100%;
}
.background{
    position: absolute;
    width: 100%;
    z-index: -1;
}
.logoNote{
    display: flex;
    justify-content: center;
    position: absolute;
    align-items: center;
    width: 100%;
    height: 20%;
    top: 8rem;
    background-color: black;
    opacity: 0.6;
}
.Odin{
color: white;
font-family: my-cool-font;
text-align: center;
font-size:3.5rem

}
#logo{
    width: 60px;
}

@font-face {
    font-family: my-cool-font;
    src: url(/Norse-Bold.otf);
}

button{
    margin: 15px 0 25px 0;
    padding: 15px 25px;
    font: bold 1em sans-serif;
    color: white;
    border-radius: 5px;
    background-color: #596D48;
    cursor:pointer;
}
.error{
    font-size: 10px;
}

form :focus{
    outline-color: rgb(83, 154, 235);
    box-shadow: 8px 8px 12px 0px rgba(0, 0, 0, 0.26);
}
form :invalid{
    outline-color: red;
}
form :default{
    outline-width:2em;
    outline-color: darkred;
}
label{
    font-style: normal;
    color: black;
    font-weight: normal;
    text-decoration: none;
    font-size: 12px;
}